@CHARSET "UTF-8";

/* 読み込み完了前の非表示設定 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html,body{
    background-color: #eee;
    height:100%;
}

/* ヘッダー */
.header, .header small{
    background-color: green;
    margin-bottom: 0px !important;
    color:white !important;
    padding-top: 30px;
    padding-bottom: 30px;
}
.error-area{
    margin: 0px;
    padding: 0.5em;
}

/* メインエリア */
.main-area{
    background-color: cornsilk;
    padding:2em;
    height:75%;
}
.main-area .table{
    margin-bottom:0eem;
}
.height-100percent{
    height:100% !important;
}
.buttons-row
{
    height:2em;
    padding-top:1em;
    padding-bottom:3em;
}
.container{
    height:100% !important;
}
hr{
    border-color: black !important;
}