<!-- メイン -->
<div class="container" data-ng-controller="passwordChangeController as pwdChg">
    <!-- ヘッダー -->
    <header data-on-send-root="pwdChg.sendRootHeader(src)"></header>

    <!-- メイン画面 -->
    <div  class="main-area" data-ng-cloak >
        <div class="row">
            パスワード：<input type="password" data-ng-model="pwdChg.password">
        </div>
        <div class="row">
             新パスワード：<input type="password" data-ng-model="pwdChg.newPassword">
        </div>
        <div class="row">
            <button class="btn" data-ng-click="pwdChg.cancel()">キャンセル</button>
            <button class="btn" data-ng-click="pwdChg.passwordChange()">パスワード変更</button>
        </div>
    </div>
</div>
