<div ng-include="'view/header.html'"></div>

<!-- 検索 -->
<div class="container" ng-controller="passwordChangeController as pwdChg">
<p class="bg-danger" ng-show="pwdChg.isError">{{pwdChg.errorMsg}}</p>

    <div class="row">
        パスワード：<input type="password" ng-model="pwdChg.password">
    </div>
    <div class="row">
         新パスワード：<input type="password" ng-model="pwdChg.newPassword">
    </div>
      <div class="row">
        <button class="btn" ng-click="pwdChg.cancel()">キャンセル</button>
        <button class="btn" ng-click="pwdChg.passwordChange()">パスワード変更</button>
      </div>
</div>
