<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>web</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>


  <error-page>
    <error-code>401</error-code>
    <location>/error.html</location>
  </error-page>

  <error-page>
    <error-code>500</error-code>
    <location>/error.html</location>
  </error-page>

  <!-- logback用設定サンプル -->
  <env-entry>
    <env-entry-name>LOG_DIR</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>none</env-entry-value>
  </env-entry>

  <!-- logback用HTTPリクエストフィルター -->
  <filter>
    <filter-name>MDCInsertingServletFilter</filter-name>
    <filter-class>
      ch.qos.logback.classic.helpers.MDCInsertingServletFilter
    </filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MDCInsertingServletFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>
