<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<included>
  <!-- SQL確認用ファイル出力 -->
  <appender name="SQL_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>${LOG_DIR}/sql.log</file>

      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>${LOG_DIR}/sql.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
        <maxHistory>7</maxHistory>
      </rollingPolicy>
      <encoder>
        <pattern>%date %-15X{req.remoteHost} %c{0} %message %n</pattern>
      </encoder>
  </appender>

  <logger name="web.common" level="INFO" additivity="false">
    <appender-ref ref="SQL_FILE" />
  </logger>
</included>