<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<configuration scan="true" scanPeriod="5 minutes">
  <insertFromJNDI env-entry-name="java:comp/env/LOG_DIR" as="LOG_DIR" />
  <insertFromJNDI env-entry-name="java:comp/env/OUTPUT_SQL_LOG" as="OUTPUT_SQL_LOG" />

  <if condition='"none".equals(property("LOG_DIR"))'>
    <then>
        <include resource="logback_console.xml" />
    </then>
    <else>

      <!-- APサーバーデプロイ時でSQL出力ONの場合はSQLログを出力 -->
      <if condition='"true".equals(property("OUTPUT_SQL_LOG"))'>
        <then>
          <include resource="logback_sql.xml" />
        </then>
      </if>

      <include resource="logback_file.xml" />
    </else>
  </if>
</configuration>