<style>
.header-area{
    margin-bottom: 2em !important;
}
.header{
    background-color: mediumaquamarine;
    margin-bottom: 0px !important;
}
</style>

<div class="header-area">
    <div class="jumbotron header">
        <h1>Example page header<br><small>こんにちは {{ $ctrl.userName() }} さん</small></h1>

        <button class="btn" data-ng-click="$ctrl.passwordChange()">パスワード変更</button>
        <div class="pull-right">
            <button class="btn" data-ng-click="$ctrl.logout()">ログアウト</button>
        </div>
    </div>
    <p class="bg-danger ng-hide" data-ng-show="$ctrl.isError">{{$ctrl.errorMsg}}</p>
</div>
