<style type="text/css">
.ng-scope
{
    height:auto !important;
}
</style>

<!-- メイン画面 -->
<div class="height-100percent" data-ng-init="ctrl.init()" data-ng-controller="uploadController as ctrl">
    <!-- ヘッダー -->
    <header data-on-send-root="ctrl.sendRootHeader(src)"></header>

    <!-- メイン画面 -->
    <div  class="container main-area" data-ng-cloak style="height:100%;">
        <div id="dadArea" style="width:200px;height: 200px;background-color: skyblue;">
            <img data-ng-src="{{ctrl.imageData}}" style="width:200px;height: 200px;" />
        </div>
        <span>ファイル名：{{ctrl.imageName}}</span>

        <div>
            <input type="date" data-ng-model="ctrl.tag"
                data-text-ex  ><br>
            <input type="time" data-ng-model="ctrl.timeData"
                data-text-ex  ><br>
            <button data-ng-click="ctrl.insertOrUpdate()" data-ng-disabled="ctrl.imageName===''" class="btn">登録(ファイル作成)</button>
        <div>
        </div>
            <button data-ng-click="ctrl.uploadData()" data-ng-disabled="ctrl.imageName===''" class="btn">テーブル登録</button>
        </div>

        <h3>登録結果</h3>
        <table class="table-bordered">
            <tr class="success">
                <th class="text-center" style="width:100px;">
                    イメージ
                </th>
                <th class="text-center" style="width:30em;">
                    ファイル名
                </th>
                <th class="text-center" style="width:5em;">
                    タグ(日付)
                </th>
                <th class="text-center" style="width:8em;">
                    タグ(日付)<br>入力テキスト実装例
                </th>
            </tr>
            <tr  data-ng-repeat="result in ctrl.searchResult">
                <td class="text-center" style="height:100px;">
                    <img data-ng-src="{{result.imageData}}" style="width:100px;height: 100px;"/>

                </td>
                <td class="text-left">
                    {{result.fileName}}
                </td>
                <td class="text-left">
                    {{ result.tag | date:'yyyy/MM/dd' }}
                </td>
                <td class="text-left">
                    <input type="date" data-text-ex
                        data-ng-model="result.tag">
                    <br>
                    <input type="time" data-ng-model="result.timeData"
                        data-text-ex  >
                </td>
            </tr>
        </table>

    </div>
</div>
