<div ng-include="'view/header.html'">テスト</div>

<!-- メイン画面 -->
<div class="container" ng-init="ctrl.init()" ng-controller="userEdit as ctrl">
<p class="bg-danger" ng-show="ctrl.isError">{{ctrl.errorMsg}}</p>

    <!-- ボタン類 -->
    <div class="form-group buttons-row">
        <input type="button" class="btn" ng-click="ctrl.cancel()"  value="戻る">
        <div class="pull-right">
            <input type="button" class="btn" ng-click="ctrl.update()"  value="更新">
        </div>
    </div>

    <!-- 編集項目 -->
    <div class="form-group">
        <label for="userId">ユーザーID</label>
        <input type="text" id = "userId" ng-disabled="true" ng-model="ctrl.userId">
    </div>
    <div class="form-group">
        <label for="userName">ユーザー名</label>
        <input type="text" id = "userName"  ng-model="ctrl.userName">
    </div>
    <div class="form-group">
        <label for="password">パスワード</label>
        <input type="text" id = "password"  ng-model="ctrl.password">
    </div>

</div>
